name: Main

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  run:
    if: github.repository_owner == 'powerof3'
    uses: adya/pack-skse-mod/.github/workflows/pack.yml@main
    with:
      AE_353_BRANCH: master
      AE_353_COMMON_LIB_BRANCH: dev-1.6.640
      CMAKE_VR_CONFIG_PRESET: ''
      CMAKE_VR_BUILD_PRESET: ''
      FOMOD_INCLUDE_PDB: true
      FOMOD_MOD_NAME: "Base Object Swapper"
      FOMOD_MOD_AUTHOR: "powerofthree"
      FOMOD_MOD_NEXUS_ID: "60805"
      FOMOD_AE353_PATH: 'AE640/SKSE/Plugins'
      FOMOD_AE353_NAME: 'SSE v1.6.640 ("Anniversary Edition")'
      FOMOD_AE353_DESCR: 'Select this if you are using Skyrim Anniversary Edition v1.6.640'
      FOMOD_AE353_MIN_GAME_VERSION: '1.6.629.0'
      FOMOD_AE_NAME: 'SSE v1.6.1130+ ("Anniversary Edition")'
      FOMOD_AE_DESCR: 'Select this if you are using Skyrim Anniversary Edition v1.6.1130 or higher (latest update).'
      FOMOD_AE_MIN_GAME_VERSION: '1.6.1130.0'
      PUBLISH_ARCHIVE_TYPE: '7z'
      VCPKG_COMMIT_ID: '41626fd77bf42f29e8f7e43dc1f2f05780588cde'
